.body{
font-family: Circular,
-apple-system,
BlinkMacSystemFont,
Roboto,
Helvetica Neue,
sans-serif;
}

.disp {
    display: flex;
    justify-content: space-evenly;
}

.grid-container {
    display: grid;
    padding: 130px;
    padding-top:60px;
    padding-bottom: 60px;
    column-gap: 10px;
    grid-template-columns: repeat(6, 1fr);
    justify-content: space-evenly;
  }

.grid-item {
padding: 20px;
}
.Dropdown {
    font-family: sans-serif;
    text-align: center;
  }

  .dropdown_wrapper {
    position: relative;
    display: inline-block;
  }
  
  .dropdown_activator {
    align-items: center;
    background-color: inherit;
    border: none;
    height: 100%;
    color: gray;
    font-weight: 500;
    letter-spacing: 1.1px;
    display: flex;
    align-items: center;
    font-size: inherit;
    
    cursor: pointer;
    width: 100%;
  }
  
  .dropdown_activator:hover {
    border-bottom: 1px solid silver;
    border-image: linear-gradient(
        to right,
        transparent 20%,
        #1a1b1b,
        transparent 80%
      )
      30;
  }
  
  .dropdown_item_list {
    background: white;
    display: none;
    margin: 0;
    z-index: 1000;
    position: absolute;
    right: 0;
    box-shadow: 0 0 2px 0 gray;
    border-radius: 5px;
    padding: 0;
  }
  
  .dropdown_item_list.active {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
  
  .item_list {
    list-style: none;
  }
  
  .item_list:last-child a {
    border-bottom: none;
  }
  
  .item_list a,
  .item_list a:link {
    display: flex;
    /* gap: 0.8rem; */
    color: #666666;
    font-weight: 600;
    text-decoration: none;
    padding: 0.8rem;
  
    transition: all 0.1s linear;
  }
  
  .item_list a:hover {
    background-color: gray;
    color: white;
  }
  
  .slider-container{
    margin: 0 auto;
    overflow-x: hidden;
    

  }

  .slider{
    display:flex;
    cursor: grab;

  }

  .item{
    height: 40rem;
    max-width: 30rem;
    padding: 2rem
  }

  .item img{
    height: 100%;
    width: 100%;
    pointer-events: none;
  }

  .color1 {
    color: #CDFCF6;
  }
  :root {
    --paleta1: #FAF7F0;
    --paleta2: #CDFCF6;
    --paleta3: #BCCEF8;
    --paleta4: #98A8F8;
  }
  .heart{
    color: black;
    cursor: pointer;
  }
  .heart:hover {
    animation: heartbeat 1s infinite;
    fill:red;
    color: red;
    opacity: 1;
    transition: opacity 500ms;
  }